<!DOCTYPE html>
<html ng-app="todoApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ron's Todo app</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.0/css/bootstrap-combined.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
      
    <!--underscore-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js">       </script>  
      
    <!--angular-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>

    <!--my script-->
    <script type="text/javascript" src="app.js"></script>  
      
    <!--my css    -->
    <link rel="stylesheet" href="todo.css">
      
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
    
    
    
  <body>
    <h1>Ron's Todo App (Angular)</h1>
      
    <div class="container" ng-controller="todoController as todoCtrl">
    <h2>Total todos: {{todoCtrl.totalTodos()}}</h2>
        
    <ul class="unstyled">
        <li ng-repeat="todo in todoCtrl.todoList">
            <input type="checkbox" ng-model="todo.done"> 
            <span class="done-{{todo.done}}" ng-hide="editMode" ng-Dblclick="editMode = !editMode">{{todo.text}}</span>
            <input type="text" ng-show="editMode" ng-Dblclick="editMode=!editMode" ng-keyup="editMode=!($event.keyCode===13)" ng-model="todo.text">
        </li>    
    </ul>
        
<!--    <form class="form-horizontal">-->
    <form>    
        <input type="text" ng-model="todoCtrl.formTodoText" ng-model-instant>
        <button class="btn" ng-click="todoCtrl.addTodo()"><i class="icon-plus"></i>Add</button>
    </form>
        
    <button class="btn-large" ng-click="todoCtrl.clearCompleted()"><i class="icon-trash"></i>Clear Completed</button>
    
    {{formTodoText}}

        
        
    
    </div>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="js/bootstrap.min.js"></script>-->
  </body>
</html>